body {
    width: 100%;
    height: 932px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerRelogio {
    width: 700px;
    height: 250px;
    background: grey;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.telaRelogio {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horario {
    font-size: 10rem;
}